body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
     margin: 0px;
     padding: 0px;
}

body {
     background-color: #fdfdfd;
     color: #111111;
     font-family: "Open Sans",sans-serif;
     font-feature-settings: "kern";
     font-kerning: normal;
     font-language-override: normal;
     font-size-adjust: none;
     font-size: 16px;
     font-stretch: normal;
     font-style: normal;
     font-synthesis: weight style;
     font-variant: normal;
     font-weight: 400;
     line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight {
     margin-bottom: 15px;
}

h2:not(.footer-heading) {
     border-bottom: 1px solid #111111;
}

img {
     max-width: 100%;
     vertical-align: middle;
}

figure > img {
     display: block;
}

figcaption {
     font-size: 14px;
}

ul, ol {
     margin-left: 30px;
}

li > ul, li > ol {
     margin-bottom: 0px;
}

h1, h2, h3, h4, h5, h6 {
     font-weight: 400;
}

a {
     color: #16a085;
     text-decoration: none;
}

a:visited {
     color: #1756a9;
}

a:hover {
     color: #111111;
     text-decoration: underline;
}

blockquote {
     border-left: 4px solid #e8e8e8;
     color: #828282;
     font-size: 18px;
     font-style: italic;
     letter-spacing: -1px;
     padding-left: 15px;
}

blockquote > :last-child {
     margin-bottom: 0px;
}

pre, code {
     background-color: #eeeeff;
     border-radius: 3px;
     border: 1px solid #e8e8e8;
     font-size: 15px;
}

code {
     padding: 1px 5px;
}

pre {
     overflow-x: auto;
     padding: 8px 12px;
}

pre > code {
     border: 0px none;
     padding-left: 0px;
     padding-right: 0px;
}

.wrapper {
     margin-left: auto;
     margin-right: auto;
     max-width: calc(800px - 30px * 2);
     padding-left: 30px;
     padding-right: 30px;
}

.footer-col-3 {
     float: right;
     margin-top: -50px;
     width: 165px;
}

@media screen and (max-width: 800px) {
  .wrapper { max-width: calc(800px - 30px); padding-left: 15px; padding-right: 15px; }
}

.wrapper::after, .footer-col-wrapper::after {
     clear: both;
     content: "";
     display: table;
}

.icon > svg {
     display: inline-block;
     height: 16px;
     vertical-align: middle;
     width: 16px;
}

.icon > svg path {
     fill: #828282;
}

.site-header {
     border-bottom: 1px solid #e8e8e8;
     border-top: 5px solid #424242;
     min-height: 56px;
     position: relative;
}

.site-title {
     float: left;
     font-size: 26px;
     font-weight: 300;
     letter-spacing: -1px;
     line-height: 56px;
     margin-bottom: 0px;
}

.site-title, .site-title:visited {
     color: #111111;
     font-weight: bold;
}

.site-nav {
     float: right;
     line-height: 56px;
}

.site-nav .menu-icon {
     display: none;
}

.site-nav .page-link {
     color: #111111;
     line-height: 1.5;
}

.site-nav .page-link:not(:last-child) {
     margin-right: 15px;
}

@media screen and (max-width: 600px) {
  .site-nav { background-color: #fdfdfd; border: 1px solid #e8e8e8; border-radius: 5px; position: absolute; right: 15px; text-align: right; top: 9px; }
  .site-nav .menu-icon { display: block; float: right; height: 26px; line-height: 0; padding-top: 10px; text-align: center; width: 36px; }
  .site-nav .menu-icon > svg { height: 15px; width: 18px; }
  .site-nav .menu-icon > svg path { fill: #424242; }
  .site-nav .trigger { clear: both; display: none; }
  .site-nav:hover .trigger { display: block; padding-bottom: 5px; }
  .site-nav .page-link { display: block; margin-left: 20px; padding: 5px 10px; }
  .site-nav .page-link:not(:last-child) { margin-right: 0px; }
}

.site-footer {
     border-top: 1px solid #e8e8e8;
     padding: 30px 0px;
}

.footer-heading {
     font-size: 18px;
     font-style: italic;
     font-weight: bold;
     margin-bottom: 15px;
}

.contact-list, .social-media-list {
     list-style: outside none none;
     margin-left: 0px;
}

.footer-col-wrapper {
     color: #828282;
     font-size: 15px;
     margin-left: -15px;
}

.footer-col {
     float: left;
     margin-bottom: 15px;
     padding-left: 15px;
}

.footer-col-1 {
     width: calc(35% - 30px / 2);
}

.footer-col-2 {
     width: calc(20% - 30px / 2);
}

.footer-col-3 {
     float: right;
     width: 165px;
}

@media screen and (max-width: 800px) {
  .footer-col-1, .footer-col-2 { width: calc(50% - 30px / 2); }
  .footer-col-3 { width: calc(100% - 30px / 2); float: left; margin-top: 0px; }
}

@media screen and (max-width: 600px) {
  .footer-col { float: none; width: calc(100% - 30px / 2); }
}

.page-content {
     padding: 30px 0px;
}

.page-content a {
     font-weight: bold;
}

.page-heading {
     font-size: 1.6em;
     font-weight: bold;
}

.post-list {
     list-style: outside none none;
     margin-left: 0px;
}

.post-list > li {
     margin-bottom: 30px;
}

.post-meta {
     color: #828282;
     font-size: 14px;
}

.post-link {
     display: block;
     font-size: 24px;
}

.post-header {
     margin-bottom: 30px;
}

.post-title {
     font-size: 42px;
     letter-spacing: -1px;
     line-height: 1;
}

@media screen and (max-width: 800px) {
  .post-title { font-size: 36px; }
}

.post-content {
     margin-bottom: 30px;
}

.post-content h2 {
     font-size: 32px;
}

@media screen and (max-width: 800px) {
  .post-content h2 { font-size: 28px; }
}

.post-content h3 {
     font-size: 26px;
}

@media screen and (max-width: 800px) {
  .post-content h3 { font-size: 22px; }
}

.post-content h4 {
     font-size: 20px;
}

@media screen and (max-width: 800px) {
  .post-content h4 { font-size: 18px; }
}

.highlight {
     background: #ffffff none repeat scroll 0px 0px;
}

.highlighter-rouge .highlight {
     background: #eeeeff none repeat scroll 0px 0px;
}

.highlight .c {
     color: #999988;
     font-style: italic;
}

.highlight .err {
     background-color: #e3d2d2;
     color: #a61717;
}

.highlight .k {
     font-weight: bold;
}

.highlight .o {
     font-weight: bold;
}

.highlight .cm {
     color: #999988;
     font-style: italic;
}

.highlight .cp {
     color: #999999;
     font-weight: bold;
}

.highlight .c1 {
     color: #999988;
     font-style: italic;
}

.highlight .cs {
     color: #999999;
     font-style: italic;
     font-weight: bold;
}

.highlight .gd {
     background-color: #ffdddd;
     color: #000000;
}

.highlight .gd .x {
     background-color: #ffaaaa;
     color: #000000;
}

.highlight .ge {
     font-style: italic;
}

.highlight .gr {
     color: #aa0000;
}

.highlight .gh {
     color: #999999;
}

.highlight .gi {
     background-color: #ddffdd;
     color: #000000;
}

.highlight .gi .x {
     background-color: #aaffaa;
     color: #000000;
}

.highlight .go {
     color: #888888;
}

.highlight .gp {
     color: #555555;
}

.highlight .gs {
     font-weight: bold;
}

.highlight .gu {
     color: #aaaaaa;
}

.highlight .gt {
     color: #aa0000;
}

.highlight .kc {
     font-weight: bold;
}

.highlight .kd {
     font-weight: bold;
}

.highlight .kp {
     font-weight: bold;
}

.highlight .kr {
     font-weight: bold;
}

.highlight .kt {
     color: #445588;
     font-weight: bold;
}

.highlight .m {
     color: #009999;
}

.highlight .s {
     color: #dd1144;
}

.highlight .na {
     color: #008080;
}

.highlight .nb {
     color: #0086b3;
}

.highlight .nc {
     color: #445588;
     font-weight: bold;
}

.highlight .no {
     color: #008080;
}

.highlight .ni {
     color: #800080;
}

.highlight .ne {
     color: #990000;
     font-weight: bold;
}

.highlight .nf {
     color: #990000;
     font-weight: bold;
}

.highlight .nn {
     color: #555555;
}

.highlight .nt {
     color: #000080;
}

.highlight .nv {
     color: #008080;
}

.highlight .ow {
     font-weight: bold;
}

.highlight .w {
     color: #bbbbbb;
}

.highlight .mf {
     color: #009999;
}

.highlight .mh {
     color: #009999;
}

.highlight .mi {
     color: #009999;
}

.highlight .mo {
     color: #009999;
}

.highlight .sb {
     color: #dd1144;
}

.highlight .sc {
     color: #dd1144;
}

.highlight .sd {
     color: #dd1144;
}

.highlight .s2 {
     color: #dd1144;
}

.highlight .se {
     color: #dd1144;
}

.highlight .sh {
     color: #dd1144;
}

.highlight .si {
     color: #dd1144;
}

.highlight .sx {
     color: #dd1144;
}

.highlight .sr {
     color: #009926;
}

.highlight .s1 {
     color: #dd1144;
}

.highlight .ss {
     color: #990073;
}

.highlight .bp {
     color: #999999;
}

.highlight .vc {
     color: #008080;
}

.highlight .vg {
     color: #008080;
}

.highlight .vi {
     color: #008080;
}

.highlight .il {
     color: #009999;
}

.blocks ul {
     margin-left: 0px;
}

.blocks li {
     background-color: red;
     border-radius: 5px;
     display: inline-block;
     font-weight: bold;
     margin: 5px 0px 0px;
     padding: 0px 10px;
}

.blocks li a {
     color: #ffffff;
     display: inline-block;
     line-height: 2em;
}

.blocks li:nth-child(5n+1) {
     background-color: #1abc9c;
}

.blocks li:nth-child(5n+2) {
     background-color: #2ecc71;
}

.blocks li:nth-child(5n+3) {
     background-color: #3498db;
}

.blocks li:nth-child(5n+4) {
     background-color: #f1c40f;
}

.blocks li:nth-child(5n+5) {
     background-color: #f39c12;
}

.blocks li:nth-child(5n+6) {
     background-color: #e74c3c;
}

.blocks li:nth-child(5n+7) {
     background-color: #34495e;
}

.blocks li:nth-child(5n+8) {
     background-color: #95a5a6;
}

.blocks li:nth-child(5n+9) {
     background-color: #ff6600;
}

.site-nav a.page-link {
     border-radius: 5px;
     color: #ffffff;
     padding: 10px 15px;
}

.site-nav a.page-link:nth-child(1) {
     background-color: #16a085;
}

.site-nav a.page-link:nth-child(2) {
     background-color: #27ae60;
}

.site-nav a.page-link:nth-child(3) {
     background-color: #2980b9;
}

.intropara {
     font-size: 1.5em;
}

.colleague:nth-child(2n+1) {
     background-color: #cccccc;
}

ul.related-posts {
     list-style-type: none;
}

article ul, .post ol, .post ul {
     list-style-type: disc;
     padding-bottom: 10px;
     padding-left: 30px;
}

.post a {
     display: inline ! important;
}

.postsbytag a {
     text-decoration: none ! important;
}

.postsbytag h3 {
     padding-top: 10px;
}

.post-content img, .post iframe {
     display: block;
     margin-left: auto ! important;
     margin-right: auto ! important;
     padding: 0px 0px 15px;
}

.post-meta a {
     font-style: italic;
     text-decoration: none;
}

.post-content {
     line-height: 1.6em;
}

ul.navbar {
margin-top: -35px; 
}

ul.navbar a {
     display: block;
     padding: 0px 15px;
     text-decoration: none ! important;
}

ul.navbar li {
     float: right;
     list-style-type: none;
     margin: 0px;
     padding: 0px;
     position: relative;
}

ul.navbar li:hover {
     background: #f6f6f6 none repeat scroll 0% 0%;
}

ul.navbar ul {
     background: #ffffff none repeat scroll 0% 0%;
     display: none;
     left: 0px;
     padding: 0px;
     position: absolute;
     top: 100%;
}

ul.navbar ul li {
     float: none;
     width: 200px;
}

ul.navbar ul a {
     line-height: 120%;
     padding: 10px 15px;
}

ul.navbar ul ul {
     left: 100%;
     top: 0px;
}

ul.navbar li:hover > ul {
     display: block;
}

.front {
     font-size: 1.3em ! important;
}

.intro .lead {
     font-size: 1.3em;
}

.callout {
     background-color: #1abc9c;
     color: #ffffff;
     display: inline-block;
     padding: 0px 0.3em;
}
