<footer class="site-footer">
  <div class="container">
    <small class="pull-left"><a href="http://www.AmandaVisconti.com">AmandaVisconti.com</a> | <a href="http://www.infiniteulysses.com">InfiniteUlysses.com</a> | <a href="http://www.twitter.com/literature_geek">@Literature_Geek</a> | <a href="http://www.github.com/amandavisconti">On GitHub</a> | <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></small>
    <small class="pull-right"><a href="https://creativecommons.org/licenses/by-nc/2.0/">CC BY-NC</a> by <a href="http://www.AmandaVisconti.com/">Amanda Visconti</a></small>
  </div>
</footer>
