
<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl }}"><span>{{ site.title }}</span> [research blog]</a></h1>
    <ul class="navbar">
      <li><a href="http://amandavisconti.com/">resume</a></li>
      <li><a href="mailto:amandavisconti@gmail.com?Subject=LitGeekBlogContact">contact</a></li>
    <li><a href="#">links ▼</a>
      <ul>
        <li><a href="http://amandavisconti.com">Online portfolio</a></li>
        <li><a href="{{ site.baseurl }}/tags">Posts by topic & date</a></li>
        <li><a href="http://Dr.AmandaVisconti.com">Digital dissertation</a></li>
        <li><a href="http://www.InfiniteUlysses.com">Infinite Ulysses</a></li>
        <li><a href="{{ site.baseurl }}/speaking">Invited speaking</a></li>
        <li><a href="http://www.twitter.com/Literature_Geek">@Literature_Geek</a></li>
        <li><a href="https://github.com/amandavisconti">On GitHub</a></li>
        <li><a href="http://linkedin.com/in/amandavisconti">LinkedIn</a></li>
        <li><a href="{{ '/feed.xml' | prepend: site.baseurl }}">RSS</a></li>
        <li><a href="{{ '/search' | prepend: site.baseurl }}">Search</a></li>
      </ul>
    </li>
    </ul>
  </div>
</nav>