<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
<div class="sidebar-item"><p>{{ site.description }}</p></div>

<div class="sidebar-nav-item">
<form role="search" method="get" action="{{site.baseurl}}/search/">
  <input id="searchString" name="searchString"
  placeholder="Search the site" type="text">
  <input id="searchButton" name="googleSearchName" type="submit" value="&#xf002;">
</form>
</div>

<nav><a class="sidebar-nav-item" href="{{ site.baseurl }}"><i class="fa fa-home"></i> Home</a></nav>

<nav><a class="sidebar-nav-item" href="{{ site.baseurl }}/tags"><i class="fa fa-tag"></i>
 Posts by topic</a></nav>

<nav><a class="sidebar-nav-item" href="{{ site.baseurl }}/tag/dissertation/"><i class="fa fa-pencil"></i>
 Dissertation Blogging</a></nav>

<nav><a class="sidebar-nav-item" href="http://Dr.AmandaVisconti.com"><i class="fa fa-university"></i> Digital Dissertation</a></nav>

<nav><a class="sidebar-nav-item" href="http://www.InfiniteUlysses.com"><i class="fa fa-book"></i>
 Infinite Ulysses</a></nav>

<nav><a class="sidebar-nav-item" href="http://www.AmandaVisconti.com"><i class="fa fa-star"></i>
 Online Portfolio</a></nav>

<nav><a class="sidebar-nav-item" href="http://amandavisconti.com/AmandaVisconti_Resume.pdf"><i class="fa fa-download"></i>
 Download Resume</a></nav>

<nav><a class="sidebar-nav-item" href="http://linkedin.com/in/amandavisconti"><i class="fa fa-linkedin"></i> LinkedIn</a></nav>

<nav><a class="sidebar-nav-item" href="http://www.twitter.com/Literature_Geek"><i class="fa fa-twitter"></i>
 Twitter</a></nav>

<nav><a class="sidebar-nav-item" href="https://github.com/amandavisconti"><i class="fa fa-github"></i>
 GitHub</a></nav>

<div class="sidebar-item">
<p>
&copy; {{ site.time | date: '%Y' }} <a href="https://creativecommons.org/licenses/by-nc/2.0/">CC BY-NC</a><br><a href="http://www.amandavisconti.com">Amanda Visconti</a></p>
</p>
</div>
</div>
