<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
<div class="sidebar-item"><p>{{ site.description }}</p></div>

<nav><i class="fa fa-home"></i>
 <a class="sidebar-nav-item" href="{{ site.baseurl }}">Home</a></nav>

<nav><a class="sidebar-nav-item" href="{{ site.baseurl }}/tags">Posts by topic</a></nav>

<nav><a class="sidebar-nav-item" href="http://www.AmandaVisconti.com">Online Portfolio</a></nav>

<nav><a class="sidebar-nav-item" href="http://amandavisconti.com/AmandaVisconti_Resume.pdf">Download Resume</a></nav>

<nav><a class="sidebar-nav-item" href="http://linkedin.com/in/amandavisconti">LinkedIn</a></nav>

<nav><a class="sidebar-nav-item" href="http://Dr.AmandaVisconti.com">Digital Dissertation</a></nav>

<nav><a class="sidebar-nav-item" href="{{ site.baseurl }}/tag/dissertation/">Dissertation Blogging</a></nav>

<nav><a class="sidebar-nav-item" href="http://www.InfiniteUlysses.com">Infinite Ulysses</a></nav>

<nav><a class="sidebar-nav-item" href="http://www.twitter.com/Literature_Geek">Twitter</a></nav>

<nav><a class="sidebar-nav-item" href="https://github.com/amandavisconti">GitHub</a></nav>

<div class="sidebar-item">
<p>
&copy; {{ site.time | date: '%Y' }} <a href="https://creativecommons.org/licenses/by-nc/2.0/">CC BY-NC</a><br><a href="http://www.amandavisconti.com">Amanda Visconti</a></p>
</p>
</div>
</div>
