---
---
{% include css/base.css %}
{% include css/skeleton.css %}
{% include css/screen.css %}
{% include css/layout.css %}
{% include css/syntax.css %}

.content img, .content iframe {
margin-left: auto ! important;
margin-right: auto ! important;
display: block;
padding: 0px 0px 15px 0px;
}

#post, #post ul, p {
font-family: 'Lora', serif;
}

#blog-posts li a {
font-weight: normal;
}

.blocks li {
     background-color: red;
     border-radius: 5px;
     display: inline-block;
     margin: 5px 0px 0px;
     padding: 0px 10px;
}

.blocks li a {
     color: #ffffff;
     display: inline-block;
     line-height: 2em;
}

.blocks li:nth-child(5n+1) {
     background-color: #1abc9c;
}

.blocks li:nth-child(5n+2) {
     background-color: #2ecc71;
}

.blocks li:nth-child(5n+3) {
     background-color: #3498db;
}

.blocks li:nth-child(5n+4) {
     background-color: #f1c40f;
}

.blocks li:nth-child(5n+5) {
     background-color: #f39c12;
}

.blocks li:nth-child(5n+6) {
     background-color: #e74c3c;
}

.blocks li:nth-child(5n+7) {
     background-color: #34495e;
}

.blocks li:nth-child(5n+8) {
     background-color: #95a5a6;
}

.blocks li:nth-child(5n+9) {
     background-color: #ff6600;
}

.sidebar-nav-item {
line-height: 2em;
color: #34495e;
}

	article.container {
    width: 95%; 
    }