---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "main";

ul.related-posts {
list-style-type: none;
}

.post ol, .post ul {
padding-left: 30px;
padding-bottom: 10px;
}

.post a {
display: inline !important; 
}

.postsbytag a {
     border: medium none;
}

.postsbytag h3 {
padding-top: 10px; 
}
.post-content img, .post iframe {
margin-left: auto ! important;
margin-right: auto ! important;
display: block;
padding: 0px 0px 15px 0px;
}

.post-meta a {
border-bottom: none;
font-style: italic;
}

.post-content {
line-height: 1.6em;    
}

ul.navbar a {
     display: block;
     padding: 0px 15px;
}

ul.navbar li {
     float: right;
     margin: 0px;
     padding: 0px;
     position: relative;
}

ul.navbar li:hover {
     background: #f6f6f6 none repeat scroll 0% 0%;
}

ul.navbar ul {
     background: #ffffff none repeat scroll 0% 0%;
     display: none;
     left: 0px;
     padding: 0px;
     position: absolute;
     top: 100%;
}

ul.navbar ul li {
     float: none;
     width: 200px;
}

ul.navbar ul a {
     line-height: 120%;
     padding: 10px 15px;
}

ul.navbar ul ul {
     left: 100%;
     top: 0px;
}

ul.navbar li:hover > ul {
     display: block;
}

.front {
font-size: 1.3em !important;
margin-top: -30px !important;
}

.intro .lead {
font-size: 1.3em; 
}
