---
layout: default
---

{% include tag_collector.html tag_separator=',' %}

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date: '%B %d, %Y'  }} | {{ tag_list }}</span>
  {{ content }}
</div>

If you liked this post, you can <a href="https://twitter.com/intent/tweet?url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}&text={{ page.title }}&via=literature_geek" target="_blank"> share it on Twitter</a> or <a href="https://twitter.com/literature_geek"> follow me on Twitter</a>!

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ page.date | date: '%B %d, %Y' }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>